<% content_for :head do %>
  <meta property="st:title" content="<%=h @article.title %>" />
  <meta property="st:section" content="<%=h @article.category.name %>" />
  <meta property="st:type" content="article" />
<% end %>

<div class="container">
  <div class="article-body">
    <%= @article.body %>
  </div>

  <% if @related_articles.any? %>
    <hr/>
  
    <h3>Related Questions</h3>
    <ul class="unstyled">
      <% @related_articles.each do |article| %>
        <li>
          <a href="/<%= article.category.slug %>/<%= article.slug %>">
            <%=h article.title %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
